.form-control {
    width: 90%;
    padding: 0.320rem 0.60rem;

  }

  li {
    list-style: none;
    margin: 3px 0;
    position: relative;
  }

  input[type='checkbox']:checked+span {
    text-decoration: line-through;
  }
  
#snackbar {
visibility: hidden;
min-width: 250px;
background-color: rgb(9, 116, 255);
color: #fff;
text-align: center;
border-radius: 2px;
padding: 16px;
position: fixed;
z-index: 1;
left: 2%;
bottom: 30px;
font-size: 17px;
}

#snackbar.show {
visibility: visible;
animation: fadein 0.5s, fadeout 0.5s 2.5s;
}


@keyframes fadein {
from {bottom: 0; opacity: 0;}
to {bottom: 30px; opacity: 1;}
}


@keyframes fadeout {
from {bottom: 30px; opacity: 1;}
to {bottom: 0; opacity: 0;}
}